@charset "utf-8";

/* font */
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* Goldenbook */
@import url(https://db.onlinewebfonts.com/c/48188dfba797eefc6697161d28cb2a22?family=Goldenbook+W01+Bold);
@font-face {
    font-family: "Goldenbook";
    src: url("https://db.onlinewebfonts.com/t/48188dfba797eefc6697161d28cb2a22.eot");
    src: url("https://db.onlinewebfonts.com/t/48188dfba797eefc6697161d28cb2a22.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/48188dfba797eefc6697161d28cb2a22.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/48188dfba797eefc6697161d28cb2a22.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/48188dfba797eefc6697161d28cb2a22.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/48188dfba797eefc6697161d28cb2a22.svg#Goldenbook W01 Bold")format("svg");
}